
.leaflet-container  a:hover, a:focus {
    background-color: #4d87c7;
    color: white;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
color: #d42b1e;
}

.tag {
    background-color: #d1d1d1;
    line-height: 120%;
    padding: 3px 6px;
    font-size: 100%;
    margin-bottom: 5px;
    font-family: monospace;
}

.pagepic {
    width: 203px;
    margin: 0.5em 0pt 0.5em 0.8em; float:right; 
    background-color: #EEE;
    padding: 3px;
    font-size: 80%;
}

.pagepic img {
    border: 1px solid #CCCCCC;
    vertical-align:middle;
    margin-bottom: 3px; 
}

div.poster {
   width: 45%;
margin: 0 1em 1em 0;
display: inline-block;
  }

div.poster h4 {
 display: inline;
 font-size: 100%;
}

div.poster img {
float: right;
}